td, th {
    border: 1px solid black;
}
h1{
font-size: 30px;
}
.page-header{
	margin-top: 5px;
	margin-bottom: 10px;
	padding-bottom: 9px;
	border-bottom: 1px solid #ccc;
}
.chart-container{
	position: relative;
	height:260px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}
.page-container{
	position:relative;
}

.title-bar{
	position: relative;
	float: left;
	margin-left: 260px;
	font-size: 20px;
}
.title-pie{
	position: relative;
	float: right;
	margin-right: 20px;
	font-size: 20px;
}

.title-table{
	position: relative;
	text-align: center;
	
	font-size: 20px;
	width: 100%;
}

#chart-bars-viewsforhours{
	position: absolute;
	left:0;
	margin-top: 15px;
}
#chart-pie-viewsfortopplayer{
	position: absolute;
	right: 0;
	margin-top: 35px;
}